In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('biotech_stock_data.csv')
df.head()

,Unnamed: 0,ticker,2015-12-22,2015-12-23,2015-12-24,2015-12-28,2015-12-29,2015-12-30,2015-12-31,2016-01-04,...,2019-12-17,2019-12-18,2019-12-19,2019-12-20,2019-12-23,2019-12-24,2019-12-26,2019-12-27,2019-12-30,2019-12-31
0,0,NVO,49.0179,49.5701,49.7771,50.2947,50.4069,50.6312,50.2947,49.8548,...,54.9628,54.4045,54.1207,54.8965,54.8965,54.6221,54.8397,55.4642,55.275,54.5748
1,1,VRTX,121.0900,123.9200,124.3800,123.9900,124.9700,127.6800,125.5500,123.0300,...,219.7200,217.8300,220.1400,219.6200,220.9500,220.4600,220.6000,220.5900,220.380,218.6000
2,2,REGN,535.5900,531.0600,535.5600,536.4500,542.2800,550.5400,542.6200,531.7600,...,375.7300,370.3000,371.9500,374.9400,377.2000,374.7500,376.7600,375.2400,373.740,373.6400
3,4,SGEN,42.3100,42.7300,43.7100,43.7000,44.5100,45.3000,44.8200,43.8800,...,115.2000,113.9600,118.5000,115.0000,118.3200,115.2100,115.1700,113.7300,113.690,113.9000
4,5,ALNY,88.2700,87.2400,91.2900,90.1600,92.4900,93.4800,94.1800,92.1800,...,123.7000,117.2700,116.1000,117.8800,115.7400,117.0800,118.0000,118.3000,116.830,114.0000

In [3]:
df.columns

Index(['Unnamed: 0', 'ticker', '2015-12-22', '2015-12-23', '2015-12-24',
       '2015-12-28', '2015-12-29', '2015-12-30', '2015-12-31', '2016-01-04',
       ...
       '2019-12-17', '2019-12-18', '2019-12-19', '2019-12-20', '2019-12-23',
       '2019-12-24', '2019-12-26', '2019-12-27', '2019-12-30', '2019-12-31'],
      dtype='object', length=1015)

In [4]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)
df.head()

,ticker,2015-12-22,2015-12-23,2015-12-24,2015-12-28,2015-12-29,2015-12-30,2015-12-31,2016-01-04,2016-01-05,...,2019-12-17,2019-12-18,2019-12-19,2019-12-20,2019-12-23,2019-12-24,2019-12-26,2019-12-27,2019-12-30,2019-12-31
0,NVO,49.0179,49.5701,49.7771,50.2947,50.4069,50.6312,50.2947,49.8548,50.01,...,54.9628,54.4045,54.1207,54.8965,54.8965,54.6221,54.8397,55.4642,55.275,54.5748
1,VRTX,121.0900,123.9200,124.3800,123.9900,124.9700,127.6800,125.5500,123.0300,123.89,...,219.7200,217.8300,220.1400,219.6200,220.9500,220.4600,220.6000,220.5900,220.380,218.6000
2,REGN,535.5900,531.0600,535.5600,536.4500,542.2800,550.5400,542.6200,531.7600,519.38,...,375.7300,370.3000,371.9500,374.9400,377.2000,374.7500,376.7600,375.2400,373.740,373.6400
3,SGEN,42.3100,42.7300,43.7100,43.7000,44.5100,45.3000,44.8200,43.8800,42.07,...,115.2000,113.9600,118.5000,115.0000,118.3200,115.2100,115.1700,113.7300,113.690,113.9000
4,ALNY,88.2700,87.2400,91.2900,90.1600,92.4900,93.4800,94.1800,92.1800,93.49,...,123.7000,117.2700,116.1000,117.8800,115.7400,117.0800,118.0000,118.3000,116.830,114.0000

In [8]:
import random
from functools import reduce

In [17]:
indices = [i for i in range(48)]
random.shuffle(indices)
indices

[14,
 7,
 24,
 44,
 17,
 41,
 3,
 26,
 35,
 6,
 19,
 39,
 34,
 10,
 0,
 32,
 13,
 16,
 47,
 42,
 29,
 37,
 33,
 45,
 18,
 46,
 27,
 38,
 43,
 28,
 22,
 30,
 1,
 8,
 2,
 20,
 21,
 11,
 25,
 5,
 23,
 12,
 15,
 36,
 4,
 40,
 9,
 31]

In [43]:
sets = [
    (indices[:25]),
    (indices[25:] + indices[:2]),
    (indices[12:37]),
    (indices[37:] + indices[:14])
]

In [50]:
df.loc[sets[1]].reset_index(drop=True)

,ticker,2015-12-22,2015-12-23,2015-12-24,2015-12-28,2015-12-29,2015-12-30,2015-12-31,2016-01-04,2016-01-05,...,2019-12-17,2019-12-18,2019-12-19,2019-12-20,2019-12-23,2019-12-24,2019-12-26,2019-12-27,2019-12-30,2019-12-31
0,VYGR,21.3100,21.0900,20.5100,20.8600,20.9500,23.0000,23.1100,21.7000,21.0800,...,13.7000,13.8800,14.0300,13.7900,14.1100,14.9700,15.0100,14.2200,13.7700,13.3300
1,NVAX,174.0000,166.4000,167.8000,168.0000,167.0000,174.0000,166.6000,163.4000,158.4000,...,3.9500,4.0000,3.9800,4.0800,4.0400,4.0000,3.9900,4.0000,3.9800,3.9800
2,QURE,17.0700,16.6900,16.9000,16.5100,15.7500,15.4200,15.9000,16.3400,15.9900,...,73.3800,71.7500,69.7500,70.4800,69.9600,71.9300,73.7300,74.6100,71.7500,71.4600
3,BLUE,38.6937,38.4014,38.6042,39.2606,39.5828,39.4694,38.5386,37.4825,37.9121,...,54.7500,56.6832,55.8479,55.1259,53.8968,53.4791,56.6832,53.9385,52.7392,52.2201
4,AGIO,64.9300,61.9100,63.2800,65.5900,63.6900,67.0300,64.9200,63.5200,64.1100,...,47.3400,46.9000,47.2200,48.0800,48.9200,49.8500,50.3800,50.7400,48.2300,47.6600
5,RARE,115.7900,114.0100,114.3300,112.6600,114.4500,116.3500,112.6400,108.8000,102.0000,...,43.3800,44.7800,45.8500,43.6000,43.5500,45.0200,45.9200,45.5100,43.5100,42.4700
6,ENTA,31.8100,32.3000,32.3200,32.1000,33.6000,33.6000,33.3900,32.4400,34.2200,...,63.8700,64.0900,64.2200,64.0000,64.3700,64.8200,65.5500,63.9300,62.6800,61.5300
7,VRTX,121.0900,123.9200,124.3800,123.9900,124.9700,127.6800,125.5500,123.0300,123.8900,...,219.7200,217.8300,220.1400,219.6200,220.9500,220.4600,220.6000,220.5900,220.3800,218.6000
8,UTHR,158.4200,159.2800,159.1500,159.9900,161.8700,159.2600,157.7800,154.2300,156.3800,...,91.2600,89.5800,89.8200,89.4900,90.7600,90.8900,91.2700,89.6400,88.6500,86.9100
9,REGN,535.5900,531.0600,535.5600,536.4500,542.2800,550.5400,542.6200,531.7600,519.3800,...,375.7300,370.3000,371.9500,374.9400,377.2000,374.7500,376.7600,375.2400,373.7400,373.6400
10,PTCT,33.3500,31.8700,33.4500,32.6900,32.5700,33.4600,32.6100,31.6000,31.0400,...,47.9900,49.0300,48.2700,48.4800,48.8000,49.5500,49.4900,48.9600,48.9000,47.4100
11,CCXI,7.7800,7.8900,7.9000,8.0900,8.2300,8.1900,8.0200,7.9500,7.1100,...,33.6700,34.2000,33.2800,34.8300,36.0600,36.0700,37.0300,37.1600,36.1900,37.9200
12,IONS,57.7600,58.1200,58.5000,59.7400,60.7700,60.6700,60.8100,61.0500,61.4700,...,65.2000,63.7300,61.8900,61.5200,61.8100,61.9800,61.9700,61.5000,60.6100,59.9100
13,ACAD,33.7000,34.5100,34.8900,35.0000,35.4600,36.0000,35.6100,34.8400,34.6900,...,46.2000,46.1900,43.4600,43.7100,45.2800,44.6300,45.4500,45.3600,44.0300,43.0000
14,BMRN,104.3600,104.4000,105.8300,105.9100,106.0200,106.3000,105.4400,102.8000,105.0200,...,83.3600,83.1300,84.6100,85.4500,85.3000,86.1100,86.4300,86.1600,85.5500,84.1500
15,GLPG,59.9900,60.6500,60.9700,61.4000,63.0000,63.4200,62.6800,61.5200,60.5500,...,212.9400,206.3300,207.3500,207.5400,207.4900,210.4900,209.5600,210.1700,209.2000,207.8300
16,EXEL,4.9900,5.0200,5.5000,5.2400,5.4700,5.6800,5.6500,5.5000,5.8200,...,18.0700,17.9100,17.9700,18.4000,18.5400,18.8800,18.7000,19.0000,18.1000,17.6000
17,ASND,16.9000,17.1000,17.8000,17.9000,17.6000,17.6500,17.7900,18.0600,17.9300,...,118.5000,124.3500,122.4400,124.7600,128.0000,129.9000,131.5700,138.0000,135.4500,136.1600
18,ISEE,78.2100,77.2500,78.9400,77.2400,78.2300,78.3000,77.6400,76.3700,73.2200,...,5.8700,6.4000,6.3000,7.1500,7.6500,7.9100,7.7800,7.4700,7.7900,8.1900
19,ALNY,88.2700,87.2400,91.2900,90.1600,92.4900,93.4800,94.1800,92.1800,93.4900,...,123.7000,117.2700,116.1000,117.8800,115.7400,117.0800,118.0000,118.3000,116.8300,114.0000
20,AVXL,7.5300,7.5200,7.4500,7.1000,5.9600,5.8900,5.0900,5.4900,6.1200,...,2.5400,2.4200,2.4400,2.4100,2.3900,2.5300,2.5500,2.8400,2.5500,2.3600
21,JAZZ,139.9900,144.1500,144.2400,141.7800,142.6500,142.5600,142.5500,137.8300,138.3500,...,149.2200,149.2300,149.6200,153.0000,153.9500,153.5700,153.6200,152.4500,151.3200,148.0900
22,RGNX,18.2000,18.5700,18.7400,18.4700,17.9000,17.4800,17.1400,16.2400,17.0100,...,43.7600,43.7600,41.2900,41.3900,41.3000,41.6800,42.1900,41.4200,40.7200,40.5200
23,CYTK,10.8700,10.7300,10.8400,10.6300,10.4700,10.4200,10.4900,10.2200,10.0900,...,10.2000,9.9500,10.3400,10.4100,10.4600,10.2500,10.4300,10.3600,10.2500,10.2500
24,TECH,83.8159,85.2154,85.3011,86.6815,87.7763,87.4241,86.4816,84.7965,84.0635,...,217.1782,215.2583,213.8926,216.2084,219.9591,220.5529,219.0190,216.4459,215.8224,215.1791